<!--
  This template loads for the 'tab.create' state (app.js)
-->
<ion-view title="Create Project">
  <ion-content has-tabs="true">
      <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Project title</span>
        <input type="text" ng-model="project.title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Description" ng-model="project.description"></textarea>
      </label>

      <div class="list">
        <ion-checkbox ng-repeat="user in users" ng-model="user.checked" ng-checked="user.checked">
           {{user.username}}
        </ion-checkbox>
      </div>
      
      <button class="button button-calm button-block" ng-click="submitProject()">Create Project</button>
    </div>
  </ion-content>
</ion-view>
